html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #f6f8fa; 
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    padding: 3rem 1rem;
    background-color: #24292e; 
    color: #ffffff; 
}

header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    margin: 0;
}

header p {
    color: #c9d1d9; 
    text-align: center;
    font-size: 3.2rem;
    margin: 0;
}

header p a {
    text-decoration: none;
    color: #2ea043; 
}

.DOM {
    max-width: 120rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff; 
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.DOM h2 {
    color: #24292e;  
    text-align: center;
}

.DOM nav a {
    color: #0366d6; 
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1rem;
}

.DOM p {
    color: #24292e;
    font-size: 1.8rem;
    text-align: center;
}

.DOM #formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

.DOM #formulario input {
    display: block;
    width: 100%;
    border: 1px solid #e1e4e8; 
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.alerta {
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.alerta.error {
    background-color: #d73a49; 
}

.alerta.exito {
    background-color: #2ea043; 
}
